
# Verification Status

## Enumeration

`VerificationStatus`

## Fields

| Name |
|  --- |
| `PENDING_VERIFICATION` |
| `UNVERIFIED` |
| `VERIFIED` |

