"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.account_collection_flow import (
    AccountCollectionFlow,
)


class AccountCollectionFlowApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize AccountCollectionFlowApi object."""
        super(AccountCollectionFlowApi, self).__init__(config)

    def list_account_collection_flows(self,
                                      after_cursor=None,
                                      per_page=None,
                                      client_token=None,
                                      status=None,
                                      counterparty_id=None,
                                      external_account_id=None):
        """Perform a GET request to /api/account_collection_flows.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            client_token (str, optional): The request query parameter.
            status (str, optional): The request query parameter.
            counterparty_id (str, optional): The request query parameter.
            external_account_id (str, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/account_collection_flows")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("client_token")
                .value(client_token))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("counterparty_id")
                .value(counterparty_id))
            .query_param(Parameter()
                .key("external_account_id")
                .value(external_account_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountCollectionFlow.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_account_collection_flow(self,
                                       idempotency_key=None,
                                       body=None):
        """Perform a POST request to /api/account_collection_flows.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (AccountCollectionFlowCreateRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/account_collection_flows")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountCollectionFlow.from_dictionary)
            .is_api_response(True)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_account_collection_flow(self,
                                    id,
                                    idempotency_key=None):
        """Perform a GET request to /api/account_collection_flows/{id}.

        Args:
            id (str): id
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/account_collection_flows/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountCollectionFlow.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_account_collection_flow(self,
                                       id,
                                       idempotency_key=None,
                                       body=None):
        """Perform a PATCH request to /api/account_collection_flows/{id}.

        Args:
            id (str): id
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (AccountCollectionFlowUpdateRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/account_collection_flows/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AccountCollectionFlow.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()
