"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.balance_report import (
    BalanceReport,
)


class BalanceReportApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize BalanceReportApi object."""
        super(BalanceReportApi, self).__init__(config)

    def list_balance_reports(self,
                             internal_account_id,
                             as_of_date=None,
                             balance_report_type=None,
                             after_cursor=None,
                             per_page=None):
        """Perform a GET request to
        /api/internal_accounts/{internal_account_id}/balance_reports.

        Get all balance reports for a given internal account.

        Args:
            internal_account_id (str): The request template parameter.
            as_of_date (date, optional): The date of the balance report in local time.
            balance_report_type (BalanceReportType1, optional): The specific type of
                balance report. One of `intraday`, `previous_day`, `real_time`, or
                `other`.
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/internal_accounts/{internal_account_id}/balance_reports")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("internal_account_id")
                .value(internal_account_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("as_of_date")
                .value(as_of_date))
            .query_param(Parameter()
                .key("balance_report_type")
                .value(balance_report_type))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalanceReport.from_dictionary)
            .is_api_response(True)
            .local_error("403", "forbidden", ErrorMessageException),
        ).execute()

    def get_balance_report(self,
                           internal_account_id,
                           id):
        """Perform a GET request to
        /api/internal_accounts/{internal_account_id}/balance_reports/{id}.

        Get a single balance report for a given internal account.

        Args:
            internal_account_id (str): The request template parameter.
            id (str): Either the unique identifier of the balance report or latest
                for the latest balance report.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/internal_accounts/{internal_account_id}/balance_reports/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("internal_account_id")
                .value(internal_account_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BalanceReport.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()
