"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.connection import (
    Connection,
)


class ConnectionApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize ConnectionApi object."""
        super(ConnectionApi, self).__init__(config)

    def list_connections(self,
                         after_cursor=None,
                         per_page=None,
                         vendor_customer_id=None,
                         entity=None):
        """Perform a GET request to /api/connections.

        Get a list of all connections.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            vendor_customer_id (uuid|str, optional): An identifier assigned by the
                vendor to your organization.
            entity (str, optional): A string code representing the vendor (i.e. bank).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/connections")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("vendor_customer_id")
                .value(vendor_customer_id))
            .query_param(Parameter()
                .key("entity")
                .value(entity))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Connection.from_dictionary)
            .is_api_response(True),
        ).execute()
