"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.async_response import (
    AsyncResponse,
)
from moderntreasury.models.incoming_payment_detail import (
    IncomingPaymentDetail,
)


class IncomingPaymentDetailApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize IncomingPaymentDetailApi object."""
        super(IncomingPaymentDetailApi, self).__init__(config)

    def list_incoming_payment_details(self,
                                      after_cursor=None,
                                      per_page=None,
                                      direction=None,
                                      status=None,
                                      mtype=None,
                                      as_of_date_start=None,
                                      as_of_date_end=None,
                                      metadata=None,
                                      virtual_account_id=None):
        """Perform a GET request to /api/incoming_payment_details.

        Get a list of Incoming Payment Details.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            direction (Direction15, optional): One of `credit` or `debit`.
            status (Status21, optional): The current status of the incoming payment
                order. One of `pending`, `completed`, or `returned`.
            mtype (Type14, optional): One of: `ach`, `book`, `check`, `eft`,
                `interac`, `rtp`, `sepa`, `signet`, or `wire`.
            as_of_date_start (date, optional): Filters incoming payment details with
                an as_of_date starting on or after the specified date (YYYY-MM-DD).
            as_of_date_end (date, optional): Filters incoming payment details with an
                as_of_date starting on or before the specified date (YYYY-MM-DD).
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.
            virtual_account_id (str, optional): If the incoming payment detail is in
                a virtual account, the ID of the Virtual Account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/incoming_payment_details")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("direction")
                .value(direction))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("type")
                .value(mtype))
            .query_param(Parameter()
                .key("as_of_date_start")
                .value(as_of_date_start))
            .query_param(Parameter()
                .key("as_of_date_end")
                .value(as_of_date_end))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .query_param(Parameter()
                .key("virtual_account_id")
                .value(virtual_account_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomingPaymentDetail.from_dictionary)
            .is_api_response(True)
            .local_error("401", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_incoming_payment_detail(self,
                                    id):
        """Perform a GET request to /api/incoming_payment_details/{id}.

        Get an existing Incoming Payment Detail.

        Args:
            id (str): The unique identifier of the incoming payment detail.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/incoming_payment_details/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomingPaymentDetail.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def update_incoming_payment_detail(self,
                                       id,
                                       body=None):
        """Perform a PATCH request to /api/incoming_payment_details/{id}.

        Update an existing Incoming Payment Detail.

        Args:
            id (str): The unique identifier of the incoming payment detail.
            body (IncomingPaymentDetailUpdateRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/incoming_payment_details/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IncomingPaymentDetail.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def create_async_incoming_payment_detail(self,
                                             idempotency_key=None,
                                             body=None):
        """Perform a POST request to
        /api/simulations/incoming_payment_details/create_async.

        Simulate Incoming Payment Detail

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (IncomingPaymentDetailCreateRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/simulations/incoming_payment_details/create_async")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AsyncResponse.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("405", "not allowed", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()
