"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.internal_account import (
    InternalAccount,
)


class InternalAccountApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize InternalAccountApi object."""
        super(InternalAccountApi, self).__init__(config)

    def list_internal_accounts(self,
                               after_cursor=None,
                               per_page=None,
                               currency=None,
                               counterparty_id=None,
                               payment_type=None,
                               payment_direction=None,
                               metadata=None):
        """Perform a GET request to /api/internal_accounts.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            currency (Currency, optional): The currency associated with the internal
                account.
            counterparty_id (str, optional): The counterparty associated with the
                internal account.
            payment_type (PaymentType13, optional): The type of payment that can be
                made by the internal account.
            payment_direction (PaymentDirection, optional): The direction of payments
                that can be made by internal account.
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/internal_accounts")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("currency")
                .value(currency))
            .query_param(Parameter()
                .key("counterparty_id")
                .value(counterparty_id))
            .query_param(Parameter()
                .key("payment_type")
                .value(payment_type))
            .query_param(Parameter()
                .key("payment_direction")
                .value(payment_direction))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InternalAccount.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_internal_account(self,
                                idempotency_key=None,
                                body=None):
        """Perform a POST request to /api/internal_accounts.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (InternalAccountCreateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/internal_accounts")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InternalAccount.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_internal_account(self,
                             id):
        """Perform a GET request to /api/internal_accounts/{id}.

        Args:
            id (str): Unique identifier for the account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/internal_accounts/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InternalAccount.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def update_internal_account(self,
                                id,
                                body=None):
        """Perform a PATCH request to /api/internal_accounts/{id}.

        Args:
            id (str): Unique identifier for the account.
            body (InternalAccountUpdateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/internal_accounts/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InternalAccount.from_dictionary)
            .is_api_response(True)
            .local_error("404", "unsuccessful", ErrorMessageException),
        ).execute()
