"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.invoice import Invoice


class InvoiceApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize InvoiceApi object."""
        super(InvoiceApi, self).__init__(config)

    def list_invoices(self,
                      after_cursor=None,
                      per_page=None):
        """Perform a GET request to /api/invoices.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/invoices")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Invoice.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_invoice(self,
                       idempotency_key=None,
                       body=None):
        """Perform a POST request to /api/invoices.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (InvoiceCreateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/invoices")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Invoice.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_invoice(self,
                    id):
        """Perform a GET request to /api/invoices/{id}.

        Args:
            id (str): id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/invoices/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Invoice.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_invoice(self,
                       id,
                       body=None):
        """Perform a PATCH request to /api/invoices/{id}.

        Args:
            id (str): id
            body (InvoiceUpdateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/invoices/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Invoice.from_dictionary)
            .is_api_response(True),
        ).execute()
