"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.ledgerable_event import (
    LedgerableEvent,
)


class LedgerableEventApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize LedgerableEventApi object."""
        super(LedgerableEventApi, self).__init__(config)

    def create_ledgerable_event(self,
                                idempotency_key=None,
                                body=None):
        """Perform a POST request to /api/ledgerable_events.

        Translation missing:
        en.openapi.descriptions.ledger.operations.create_ledgerable_event

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (LedgerableEventCreateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledgerable_events")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerableEvent.from_dictionary)
            .is_api_response(True)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_ledgerable_event(self,
                             id):
        """Perform a GET request to /api/ledgerable_events/{id}.

        Get details on a single ledgerable event.

        Args:
            id (str): id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledgerable_events/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerableEvent.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()
