"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.ledger_entry import (
    LedgerEntry,
)


class LedgerEntryApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize LedgerEntryApi object."""
        super(LedgerEntryApi, self).__init__(config)

    def list_ledger_entries(self,
                            after_cursor=None,
                            per_page=None,
                            id=None,
                            ledger_account_id=None,
                            ledger_transaction_id=None,
                            ledger_account_payout_id=None,
                            effective_date=None,
                            effective_at=None,
                            updated_at=None,
                            as_of_lock_version=None,
                            ledger_account_lock_version=None,
                            ledger_account_category_id=None,
                            ledger_account_statement_id=None,
                            show_deleted=None,
                            direction=None,
                            status=None,
                            order_by=None,
                            show_balances=None,
                            metadata=None):
        """Perform a GET request to /api/ledger_entries.

        Get a list of all ledger entries.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            id (Dict[str, str], optional): The request query parameter.
            ledger_account_id (str, optional): The request query parameter.
            ledger_transaction_id (str, optional): The request query parameter.
            ledger_account_payout_id (str, optional): The request query parameter.
            effective_date (Dict[str, date], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by the transaction's
                effective date. Format YYYY-MM-DD
            effective_at (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by the transaction's
                effective time. Format ISO8601
            updated_at (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by the posted at
                timestamp. For example, for all times after Jan 1 2000 12:00 UTC, use
                updated_at%5Bgt%5D=2000-01-01T12:00:00Z.
            as_of_lock_version (int, optional): Shows all ledger entries that were
                present on a ledger account at a particular `lock_version`. You must
                also specify `ledger_account_id`.
            ledger_account_lock_version (Dict[str, int], optional): Use `gt` (>),
                `gte` (>=), `lt` (<), `lte` (<=), or `eq` (=) to filter by the
                lock_version of a ledger account. For example, for all entries
                created at or before before lock_version 1000 of a ledger account,
                use `ledger_account_lock_version%5Blte%5D=1000`.
            ledger_account_category_id (str, optional): Get all ledger entries that
                match the direction specified. One of `credit`, `debit`.
            ledger_account_statement_id (str, optional): Get all ledger entries that
                are included in the ledger account statement.
            show_deleted (bool, optional): If true, response will include ledger
                entries that were deleted. When you update a ledger transaction to
                specify a new set of entries, the previous entries are deleted.
            direction (Direction15, optional): If true, response will include ledger
                entries that were deleted. When you update a ledger transaction to
                specify a new set of entries, the previous entries are deleted.
            status (Status22, optional): Get all ledger entries that match the status
                specified. One of `pending`, `posted`, or `archived`.
            order_by (OrderBy, optional): Order by `created_at` or `effective_at` in
                `asc` or `desc` order. For example, to order by `effective_at asc`,
                use `order_by%5Beffective_at%5D=asc`. Ordering by only one field at a
                time is supported.
            show_balances (bool, optional): If true, response will include the
                balances attached to the ledger entry. If there is no balance
                available, null will be returned instead.
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_entries")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("id")
                .value(id))
            .query_param(Parameter()
                .key("ledger_account_id")
                .value(ledger_account_id))
            .query_param(Parameter()
                .key("ledger_transaction_id")
                .value(ledger_transaction_id))
            .query_param(Parameter()
                .key("ledger_account_payout_id")
                .value(ledger_account_payout_id))
            .query_param(Parameter()
                .key("effective_date")
                .value(effective_date))
            .query_param(Parameter()
                .key("effective_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    effective_at)))
            .query_param(Parameter()
                .key("updated_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    updated_at)))
            .query_param(Parameter()
                .key("as_of_lock_version")
                .value(as_of_lock_version))
            .query_param(Parameter()
                .key("ledger_account_lock_version")
                .value(ledger_account_lock_version))
            .query_param(Parameter()
                .key("ledger_account_category_id")
                .value(ledger_account_category_id))
            .query_param(Parameter()
                .key("ledger_account_statement_id")
                .value(ledger_account_statement_id))
            .query_param(Parameter()
                .key("show_deleted")
                .value(show_deleted))
            .query_param(Parameter()
                .key("direction")
                .value(direction))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("order_by")
                .value(order_by))
            .query_param(Parameter()
                .key("show_balances")
                .value(show_balances))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerEntry.from_dictionary)
            .is_api_response(True)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_ledger_entry(self,
                         id,
                         show_balances=None):
        """Perform a GET request to /api/ledger_entries/{id}.

        Get details on a single ledger entry.

        Args:
            id (str): id
            show_balances (bool, optional): If true, response will include the
                balances attached to the ledger entry. If there is no balance
                available, null will be returned instead.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_entries/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("show_balances")
                .value(show_balances))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerEntry.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()
