"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.ledger_transaction import (
    LedgerTransaction,
)
from moderntreasury.models.ledger_transaction_version import (
    LedgerTransactionVersion,
)


class LedgerTransactionApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize LedgerTransactionApi object."""
        super(LedgerTransactionApi, self).__init__(config)

    def create_ledger_transaction_reversal(self,
                                           id,
                                           body=None):
        """Perform a POST request to /api/ledger_transactions/{id}/reversal.

        Create a ledger transaction reversal.

        Args:
            id (str): The id of ledger transaction to reverse.
            body (LedgerTransactionReversalCreateRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_transactions/{id}/reversal")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerTransaction.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def list_ledger_transaction_versions(self,
                                         after_cursor=None,
                                         per_page=None,
                                         created_at=None,
                                         version=None,
                                         ledger_transaction_id=None,
                                         ledger_account_statement_id=None):
        """Perform a GET request to /api/ledger_transaction_versions.

        Get a list of ledger transaction versions.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            created_at (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by the created_at
                timestamp. For example, for all dates after Jan 1 2000 12:00 UTC, use
                created_at%5Bgt%5D=2000-01-01T12:00:00Z.
            version (Dict[str, int], optional): Use `gt` (>), `gte` (>=), `lt` (<),
                `lte` (<=), or `eq` (=) to filter by the version. For example, for
                all versions after 2, use version%5Bgt%5D=2.
            ledger_transaction_id (str, optional): Get all the ledger transaction
                versions corresponding to the ID of a ledger transaction.
            ledger_account_statement_id (str, optional): Get all ledger transaction
                versions that are included in the ledger account statement.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_transaction_versions")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("created_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    created_at)))
            .query_param(Parameter()
                .key("version")
                .value(version))
            .query_param(Parameter()
                .key("ledger_transaction_id")
                .value(ledger_transaction_id))
            .query_param(Parameter()
                .key("ledger_account_statement_id")
                .value(ledger_account_statement_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerTransactionVersion.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def list_ledger_transactions(self,
                                 after_cursor=None,
                                 per_page=None,
                                 id=None,
                                 metadata=None,
                                 ledger_id=None,
                                 ledger_account_id=None,
                                 effective_at=None,
                                 effective_date=None,
                                 posted_at=None,
                                 updated_at=None,
                                 order_by=None,
                                 status=None,
                                 external_id=None,
                                 ledger_account_category_id=None,
                                 ledger_account_payout_id=None,
                                 reverses_ledger_transaction_id=None,
                                 ledgerable_id=None,
                                 ledgerable_type=None):
        """Perform a GET request to /api/ledger_transactions.

        Get a list of ledger transactions.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            id (Dict[str, str], optional): The request query parameter.
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.
            ledger_id (str, optional): The request query parameter.
            ledger_account_id (str, optional): The request query parameter.
            effective_at (Dict[str, datetime], optional): Use "gt" (>), "gte" (>=),
                "lt" (<), "lte" (<=), or "eq" (=) to filter by effective at. For
                example, for all transactions after Jan 1 2000, use
                effective_at%5Bgt%5D=2000-01-01T00:00:00:00.000Z.
            effective_date (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by effective date. For
                example, for all dates after Jan 1 2000, use
                effective_date%5Bgt%5D=2000-01-01.
            posted_at (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=), `lt`
                (<), `lte` (<=), or `eq` (=) to filter by the posted at timestamp.
                For example, for all times after Jan 1 2000 12:00 UTC, use
                posted_at%5Bgt%5D=2000-01-01T12:00:00Z.
            updated_at (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by the posted at
                timestamp. For example, for all times after Jan 1 2000 12:00 UTC, use
                updated_at%5Bgt%5D=2000-01-01T12:00:00Z.
            order_by (OrderBy, optional): Order by `created_at` or `effective_at` in
                `asc` or `desc` order. For example, to order by `effective_at asc`,
                use `order_by%5Beffective_at%5D=asc`. Ordering by only one field at a
                time is supported.
            status (Status22, optional): The request query parameter.
            external_id (str, optional): The request query parameter.
            ledger_account_category_id (str, optional): The request query parameter.
            ledger_account_payout_id (str, optional): The request query parameter.
            reverses_ledger_transaction_id (str, optional): The request query
                parameter.
            ledgerable_id (str, optional): The request query parameter.
            ledgerable_type (LedgerableType6, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_transactions")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("id")
                .value(id))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .query_param(Parameter()
                .key("ledger_id")
                .value(ledger_id))
            .query_param(Parameter()
                .key("ledger_account_id")
                .value(ledger_account_id))
            .query_param(Parameter()
                .key("effective_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    effective_at)))
            .query_param(Parameter()
                .key("effective_date")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    effective_date)))
            .query_param(Parameter()
                .key("posted_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    posted_at)))
            .query_param(Parameter()
                .key("updated_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    updated_at)))
            .query_param(Parameter()
                .key("order_by")
                .value(order_by))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("external_id")
                .value(external_id))
            .query_param(Parameter()
                .key("ledger_account_category_id")
                .value(ledger_account_category_id))
            .query_param(Parameter()
                .key("ledger_account_payout_id")
                .value(ledger_account_payout_id))
            .query_param(Parameter()
                .key("reverses_ledger_transaction_id")
                .value(reverses_ledger_transaction_id))
            .query_param(Parameter()
                .key("ledgerable_id")
                .value(ledgerable_id))
            .query_param(Parameter()
                .key("ledgerable_type")
                .value(ledgerable_type))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerTransaction.from_dictionary)
            .is_api_response(True)
            .local_error("422", "parameter invalid", ErrorMessageException),
        ).execute()

    def create_ledger_transaction(self,
                                  idempotency_key=None,
                                  body=None):
        """Perform a POST request to /api/ledger_transactions.

        Create a ledger transaction.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (LedgerTransactionCreateRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_transactions")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerTransaction.from_dictionary)
            .is_api_response(True)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException)
            .local_error("429", "too many requests", ErrorMessageException),
        ).execute()

    def get_ledger_transaction(self,
                               id):
        """Perform a GET request to /api/ledger_transactions/{id}.

        Get details on a single ledger transaction.

        Args:
            id (str): id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_transactions/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerTransaction.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def update_ledger_transaction(self,
                                  id,
                                  body=None):
        """Perform a PATCH request to /api/ledger_transactions/{id}.

        Update the details of a ledger transaction.

        Args:
            id (str): id
            body (LedgerTransactionUpdateRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_transactions/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerTransaction.from_dictionary)
            .is_api_response(True)
            .local_error("400", "parameter_invalid", ErrorMessageException)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException)
            .local_error("429", "too many requests", ErrorMessageException),
        ).execute()

    def list_ledger_transaction_versions_1(self,
                                           id,
                                           after_cursor=None,
                                           per_page=None,
                                           created_at=None,
                                           version=None):
        """Perform a GET request to /api/ledger_transactions/{id}/versions.

        Get a list of ledger transaction versions.

        Args:
            id (str): id
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            created_at (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by the created_at
                timestamp. For example, for all dates after Jan 1 2000 12:00 UTC, use
                created_at%5Bgt%5D=2000-01-01T12:00:00Z.
            version (Dict[str, int], optional): Use `gt` (>), `gte` (>=), `lt` (<),
                `lte` (<=), or `eq` (=) to filter by the version. For example, for
                all versions after 2, use version%5Bgt%5D=2.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_transactions/{id}/versions")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("created_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    created_at)))
            .query_param(Parameter()
                .key("version")
                .value(version))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerTransactionVersion.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()
