"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.line_item import (
    LineItem,
)


class LineItemApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize LineItemApi object."""
        super(LineItemApi, self).__init__(config)

    def list_line_items(self,
                        itemizable_id,
                        itemizable_type,
                        after_cursor=None,
                        per_page=None):
        """Perform a GET request to
        /api/{itemizable_type}/{itemizable_id}/line_items.

        Get a list of line items

        Args:
            itemizable_id (str): The ID of the payment order or expected payment.
            itemizable_type (ItemizableType1): One of `payment_orders` or
                `expected_payments`.
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{itemizable_type}/{itemizable_id}/line_items")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("itemizable_id")
                .value(itemizable_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("itemizable_type")
                .value(itemizable_type)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LineItem.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_line_item(self,
                      itemizable_id,
                      itemizable_type,
                      id):
        """Perform a GET request to
        /api/{itemizable_type}/{itemizable_id}/line_items/{id}.

        Get a single line item

        Args:
            itemizable_id (str): The ID of the payment order or expected payment.
            itemizable_type (ItemizableType1): One of `payment_orders` or
                `expected_payments`.
            id (str): The ID of the line item.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{itemizable_type}/{itemizable_id}/line_items/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("itemizable_id")
                .value(itemizable_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("itemizable_type")
                .value(itemizable_type)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LineItem.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_line_item(self,
                         itemizable_id,
                         itemizable_type,
                         id,
                         body=None):
        """Perform a PATCH request to
        /api/{itemizable_type}/{itemizable_id}/line_items/{id}.

        Args:
            itemizable_id (str): The ID of the payment order or expected payment.
            itemizable_type (ItemizableType1): One of `payment_orders` or
                `expected_payments`.
            id (str): The ID of the line item.
            body (LineItemUpdateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{itemizable_type}/{itemizable_id}/line_items/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("itemizable_id")
                .value(itemizable_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("itemizable_type")
                .value(itemizable_type)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LineItem.from_dictionary)
            .is_api_response(True)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()
