"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.routing_detail import (
    RoutingDetail,
)


class RoutingDetailApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize RoutingDetailApi object."""
        super(RoutingDetailApi, self).__init__(config)

    def list_routing_details(self,
                             accounts_type,
                             account_id,
                             after_cursor=None,
                             per_page=None):
        """Perform a GET request to
        /api/{accounts_type}/{account_id}/routing_details.

        Get a list of routing details for a single internal or external account.

        Args:
            accounts_type (AccountsType): The request template parameter.
            account_id (str): The ID of the account.
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{accounts_type}/{account_id}/routing_details")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("accounts_type")
                .value(accounts_type)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("account_id")
                .value(account_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RoutingDetail.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_routing_detail(self,
                              accounts_type,
                              account_id,
                              idempotency_key=None,
                              body=None):
        """Perform a POST request to
        /api/{accounts_type}/{account_id}/routing_details.

        Create a routing detail for a single external account.

        Args:
            accounts_type (AccountsType1): The request template parameter.
            account_id (str): The ID of the account.
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (RoutingDetailCreateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{accounts_type}/{account_id}/routing_details")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("accounts_type")
                .value(accounts_type)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("account_id")
                .value(account_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RoutingDetail.from_dictionary)
            .is_api_response(True)
            .local_error("404", "unsuccessful", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_routing_detail(self,
                           accounts_type,
                           account_id,
                           id):
        """Perform a GET request to
        /api/{accounts_type}/{account_id}/routing_details/{id}.

        Get a single routing detail for a single internal or external account.

        Args:
            accounts_type (AccountsType): The request template parameter.
            account_id (str): The ID of the account.
            id (str): The ID of the routing detail.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{accounts_type}/{account_id}/routing_details/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("accounts_type")
                .value(accounts_type)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("account_id")
                .value(account_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RoutingDetail.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def delete_routing_detail(self,
                              accounts_type,
                              account_id,
                              id):
        """Perform a DELETE request to
        /api/{accounts_type}/{account_id}/routing_details/{id}.

        Delete a routing detail for a single external account.

        Args:
            accounts_type (AccountsType1): The request template parameter.
            account_id (str): The ID of the account.
            id (str): The ID of the routing detail.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{accounts_type}/{account_id}/routing_details/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("accounts_type")
                .value(accounts_type)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("account_id")
                .value(account_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()
