"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.apis.base_api import BaseApi
from moderntreasury.configuration import Server
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.transaction_line_item import (
    TransactionLineItem,
)


class TransactionLineItemApi(BaseApi):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize TransactionLineItemApi object."""
        super(TransactionLineItemApi, self).__init__(config)

    def list_transaction_line_items(self,
                                    transaction_id,
                                    after_cursor=None,
                                    mtype=None,
                                    per_page=None):
        """Perform a GET request to
        /api/transactions/{transaction_id}/line_items.

        Args:
            transaction_id (str): transaction_id
            after_cursor (str, optional): The request query parameter.
            mtype (Type16, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/transactions/{transaction_id}/line_items")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("transaction_id")
                .value(transaction_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("type")
                .value(mtype))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TransactionLineItem.from_dictionary)
            .is_api_response(True),
        ).execute()
