"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.api_exception import (
    ApiException,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.counterparty import (
    Counterparty,
)
from moderntreasury.models.counterparty_collect_account_response import (
    CounterpartyCollectAccountResponse,
)


class CounterpartyController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize CounterpartyController object."""
        super(CounterpartyController, self).__init__(config)

    def collect_account_details(self,
                                id,
                                idempotency_key=None,
                                body=None):
        """Perform a POST request to /api/counterparties/{id}/collect_account.

        Send an email requesting account details.

        Args:
            id (str): counterparty id
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (CounterpartyCollectAccountRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/counterparties/{id}/collect_account")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CounterpartyCollectAccountResponse.from_dictionary)
            .is_api_response(True)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def list_counterparties(self,
                            after_cursor=None,
                            per_page=None,
                            name=None,
                            email=None,
                            metadata=None,
                            created_at_lower_bound=None,
                            created_at_upper_bound=None):
        """Perform a GET request to /api/counterparties.

        Get a paginated list of all counterparties.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            name (str, optional): Performs a partial string match of the name field.
                This is also case insensitive.
            email (str, optional): Performs a partial string match of the email
                field. This is also case insensitive.
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.
            created_at_lower_bound (datetime, optional): Used to return
                counterparties created after some datetime.
            created_at_upper_bound (datetime, optional): Used to return
                counterparties created before some datetime.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/counterparties")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("name")
                .value(name))
            .query_param(Parameter()
                .key("email")
                .value(email))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .query_param(Parameter()
                .key("created_at_lower_bound")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    created_at_lower_bound)))
            .query_param(Parameter()
                .key("created_at_upper_bound")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    created_at_upper_bound)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Counterparty.from_dictionary)
            .is_api_response(True)
            .local_error("400", "bad_request", ApiException)
            .local_error("401", "unsuccessful", ErrorMessageException),
        ).execute()

    def create_counterparty(self,
                            idempotency_key=None,
                            body=None):
        """Perform a POST request to /api/counterparties.

        Create a new counterparty.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (CounterpartyCreateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/counterparties")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Counterparty.from_dictionary)
            .is_api_response(True)
            .local_error("415", "unsuccessful", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_counterparty(self,
                         id):
        """Perform a GET request to /api/counterparties/{id}.

        Get details on a single counterparty.

        Args:
            id (str): The id of an existing counterparty.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/counterparties/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Counterparty.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def update_counterparty(self,
                            id,
                            body=None):
        """Perform a PATCH request to /api/counterparties/{id}.

        Updates a given counterparty with new information.

        Args:
            id (str): The id of an existing counterparty.
            body (CounterpartyUpdateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/counterparties/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Counterparty.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def delete_counterparty(self,
                            id):
        """Perform a DELETE request to /api/counterparties/{id}.

        Deletes a given counterparty.

        Args:
            id (str): The id of an existing counterparty.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/counterparties/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()
