"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.document import Document


class DocumentController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize DocumentController object."""
        super(DocumentController, self).__init__(config)

    def list_documents(self,
                       documentable_id=None,
                       documentable_type=None,
                       after_cursor=None,
                       per_page=None):
        """Perform a GET request to /api/documents.

        Get a list of documents.

        Args:
            documentable_id (str, optional): The unique identifier for the associated
                object.
            documentable_type (DocumentableType2Enum, optional): The type of the
                associated object. Currently can be one of `payment_order`,
                `transaction`, `paper_item`, `expected_payment`, `counterparty`,
                `organization`, `case`, `internal_account`, `decision`, or
                `external_account`.
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            List[Document]: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/documents")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("documentable_id")
                .value(documentable_id))
            .query_param(Parameter()
                .key("documentable_type")
                .value(documentable_type))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Document.from_dictionary)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def create_document(self,
                        documentable_id,
                        documentable_type,
                        file,
                        idempotency_key=None,
                        document_type=None):
        """Perform a POST request to /api/documents.

        Create a document.

        Args:
            documentable_id (str): The unique identifier for the associated object.
            documentable_type (DocumentableType1Enum): The request form parameter.
            file (typing.BinaryIO): The request form parameter.
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            document_type (str, optional): A category given to the document, can be
                `null`.

        Returns:
            Document: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/documents")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("documentable_id")
                .value(documentable_id))
            .form_param(Parameter()
                .key("documentable_type")
                .value(documentable_type))
            .multipart_param(Parameter()
                .key("file")
                .value(file)
                .default_content_type("application/octet-stream"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .form_param(Parameter()
                .key("document_type")
                .value(document_type))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Document.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def list_documents_1(self,
                         documentable_id,
                         documentable_type,
                         document_type=None,
                         after_cursor=None,
                         per_page=None):
        """Perform a GET request to
        /api/{documentable_type}/{documentable_id}/documents.

        Get a list of documents.

        Args:
            documentable_id (str): The unique identifier for the associated object.
            documentable_type (DocumentableType2Enum): The type of the associated
                object. Currently can be one of `payment_order`, `transaction`,
                `paper_item`, `expected_payment`, `counterparty`, `organization`,
                `case`, `internal_account`, `decision`, or `external_account`.
            document_type (str, optional): A category given to the document, can be
                `null`.
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            List[Document]: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{documentable_type}/{documentable_id}/documents")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("documentable_id")
                .value(documentable_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("documentable_type")
                .value(documentable_type)
                .should_encode(True))
            .query_param(Parameter()
                .key("document_type")
                .value(document_type))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Document.from_dictionary),
        ).execute()

    def create_document_1(self,
                          documentable_id,
                          documentable_type,
                          file,
                          idempotency_key=None,
                          document_type=None):
        """Perform a POST request to
        /api/{documentable_type}/{documentable_id}/documents.

        Create a document.

        Args:
            documentable_id (str): The unique identifier for the associated object.
            documentable_type (DocumentableType2Enum): The type of the associated
                object. Currently can be one of `payment_order`, `transaction`,
                `paper_item`, `expected_payment`, `counterparty`, `organization`,
                `case`, `internal_account`, `decision`, or `external_account`.
            file (typing.BinaryIO): The request form parameter.
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            document_type (str, optional): A category given to the document, can be
                `null`.

        Returns:
            Document: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{documentable_type}/{documentable_id}/documents")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("documentable_id")
                .value(documentable_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("documentable_type")
                .value(documentable_type)
                .should_encode(True))
            .multipart_param(Parameter()
                .key("file")
                .value(file)
                .default_content_type("application/octet-stream"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .form_param(Parameter()
                .key("document_type")
                .value(document_type))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Document.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def get_document(self,
                     documentable_id,
                     documentable_type,
                     id):
        """Perform a GET request to
        /api/{documentable_type}/{documentable_id}/documents/{id}.

        Get an existing document.

        Args:
            documentable_id (str): The unique identifier for the associated object.
            documentable_type (DocumentableType2Enum): The type of the associated
                object. Currently can be one of `payment_order`, `transaction`,
                `paper_item`, `expected_payment`, `counterparty`, `organization`,
                `case`, `internal_account`, `decision`, or `external_account`.
            id (uuid|str): The ID of the document.

        Returns:
            Document: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{documentable_type}/{documentable_id}/documents/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("documentable_id")
                .value(documentable_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("documentable_type")
                .value(documentable_type)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Document.from_dictionary)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def get_document_1(self,
                       id):
        """Perform a GET request to /api/documents/{id}.

        Get an existing document.

        Args:
            id (uuid|str): The ID of the document.

        Returns:
            Document: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/documents/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Document.from_dictionary)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def download_document(self,
                          documentable_id,
                          documentable_type,
                          id):
        """Perform a GET request to
        /api/{documentable_type}/{documentable_id}/documents/{id}/download.

        Download an existing document.

        Args:
            documentable_id (str): The unique identifier for the associated object.
            documentable_type (DocumentableType2Enum): The type of the associated
                object. Currently can be one of `payment_order`, `transaction`,
                `paper_item`, `expected_payment`, `counterparty`, `organization`,
                `case`, `internal_account`, `decision`, or `external_account`.
            id (uuid|str): The ID of the document.

        Returns:
            void: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/{documentable_type}/{documentable_id}/documents/{id}/download")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("documentable_id")
                .value(documentable_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("documentable_type")
                .value(documentable_type)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .auth(Single("basic_auth")),
        ).execute()

    def download_document_1(self,
                            id):
        """Perform a GET request to /api/documents/{id}/download.

        Download an existing document.

        Args:
            id (uuid|str): The ID of the document.

        Returns:
            void: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/documents/{id}/download")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .auth(Single("basic_auth")),
        ).execute()
