"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.event import Event


class EventController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize EventController object."""
        super(EventController, self).__init__(config)

    def list_events(self,
                    after_cursor=None,
                    per_page=None,
                    event_time_start=None,
                    event_time_end=None,
                    resource=None,
                    entity_id=None,
                    event_name=None):
        """Perform a GET request to /api/events.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            event_time_start (datetime, optional): An inclusive lower bound for when
                the event occurred
            event_time_end (datetime, optional): An inclusive upper bound for when
                the event occurred
            resource (str, optional): The request query parameter.
            entity_id (str, optional): The request query parameter.
            event_name (str, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/events")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("event_time_start")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    event_time_start)))
            .query_param(Parameter()
                .key("event_time_end")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    event_time_end)))
            .query_param(Parameter()
                .key("resource")
                .value(resource))
            .query_param(Parameter()
                .key("entity_id")
                .value(entity_id))
            .query_param(Parameter()
                .key("event_name")
                .value(event_name))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Event.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_event(self,
                  id):
        """Perform a GET request to /api/events/{id}.

        Args:
            id (str): event id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/events/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Event.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()
