"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.expected_payment import (
    ExpectedPayment,
)


class ExpectedPaymentController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize ExpectedPaymentController object."""
        super(ExpectedPaymentController, self).__init__(config)

    def list_expected_payments(self,
                               after_cursor=None,
                               per_page=None,
                               status=None,
                               internal_account_id=None,
                               direction=None,
                               mtype=None,
                               counterparty_id=None,
                               metadata=None,
                               created_at_lower_bound=None,
                               created_at_upper_bound=None):
        """Perform a GET request to /api/expected_payments.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            status (Status20, optional): One of unreconciled, reconciled, or archived.
            internal_account_id (str, optional): Specify internal_account_id to see
                expected_payments for a specific account.
            direction (Direction15, optional): One of credit, debit
            mtype (Type13, optional): One of: ach, au_becs, bacs, book, check, eft,
                interac, provxchange, rtp,sen, sepa, signet, wire
            counterparty_id (str, optional): Specify counterparty_id to see
                expected_payments for a specific account.
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.
            created_at_lower_bound (datetime, optional): Used to return expected
                payments created after some datetime
            created_at_upper_bound (datetime, optional): Used to return expected
                payments created before some datetime

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/expected_payments")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("internal_account_id")
                .value(internal_account_id))
            .query_param(Parameter()
                .key("direction")
                .value(direction))
            .query_param(Parameter()
                .key("type")
                .value(mtype))
            .query_param(Parameter()
                .key("counterparty_id")
                .value(counterparty_id))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .query_param(Parameter()
                .key("created_at_lower_bound")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    created_at_lower_bound)))
            .query_param(Parameter()
                .key("created_at_upper_bound")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    created_at_upper_bound)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExpectedPayment.from_dictionary)
            .is_api_response(True)
            .local_error("401", "unsuccessful", ErrorMessageException),
        ).execute()

    def create_expected_payment(self,
                                idempotency_key=None,
                                body=None):
        """Perform a POST request to /api/expected_payments.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (ExpectedPaymentCreateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/expected_payments")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExpectedPayment.from_dictionary)
            .is_api_response(True)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_expected_payment(self,
                             id):
        """Perform a GET request to /api/expected_payments/{id}.

        Args:
            id (str): id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/expected_payments/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExpectedPayment.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def update_expected_payment(self,
                                id,
                                body=None):
        """Perform a PATCH request to /api/expected_payments/{id}.

        Args:
            id (str): id
            body (ExpectedPaymentUpdateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/expected_payments/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExpectedPayment.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_expected_payment(self,
                                id):
        """Perform a DELETE request to /api/expected_payments/{id}.

        Args:
            id (str): id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/expected_payments/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExpectedPayment.from_dictionary)
            .is_api_response(True)
            .local_error("422", "parameter_invalid", ErrorMessageException),
        ).execute()
