"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.external_account import (
    ExternalAccount,
)


class ExternalAccountController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize ExternalAccountController object."""
        super(ExternalAccountController, self).__init__(config)

    def verify_external_account(self,
                                id,
                                idempotency_key=None,
                                body=None):
        """Perform a POST request to /api/external_accounts/{id}/verify.

        Args:
            id (str): external account id
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (ExternalAccountVerifyRequest, optional): The request body parameter.

        Returns:
            ExternalAccount: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/external_accounts/{id}/verify")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExternalAccount.from_dictionary)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def complete_verification_external_account(self,
                                               id,
                                               idempotency_key=None,
                                               body=None):
        """Perform a POST request to
        /api/external_accounts/{id}/complete_verification.

        Args:
            id (str): external account id
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (ExternalAccountCompleteVerificationRequest, optional): The request
                body parameter.

        Returns:
            ExternalAccount: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/external_accounts/{id}/complete_verification")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExternalAccount.from_dictionary)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def list_external_accounts(self,
                               after_cursor=None,
                               per_page=None,
                               party_name=None,
                               counterparty_id=None,
                               metadata=None):
        """Perform a GET request to /api/external_accounts.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            party_name (str, optional): Searches the ExternalAccount's party_name AND
                the Counterparty's party_name
            counterparty_id (str, optional): The request query parameter.
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.

        Returns:
            List[ExternalAccount]: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/external_accounts")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("party_name")
                .value(party_name))
            .query_param(Parameter()
                .key("counterparty_id")
                .value(counterparty_id))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExternalAccount.from_dictionary)
            .local_error("401", "unsuccessful", ErrorMessageException),
        ).execute()

    def create_external_account(self,
                                idempotency_key=None,
                                body=None):
        """Perform a POST request to /api/external_accounts.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (ExternalAccountCreateRequest, optional): The request body parameter.

        Returns:
            ExternalAccount: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/external_accounts")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExternalAccount.from_dictionary)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_external_account(self,
                             id):
        """Perform a GET request to /api/external_accounts/{id}.

        Args:
            id (str): external account id

        Returns:
            ExternalAccount: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/external_accounts/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExternalAccount.from_dictionary)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def update_external_account(self,
                                id,
                                body=None):
        """Perform a PATCH request to /api/external_accounts/{id}.

        Args:
            id (str): external account id
            body (ExternalAccountUpdateRequest, optional): The request body parameter.

        Returns:
            ExternalAccount: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/external_accounts/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ExternalAccount.from_dictionary)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def delete_external_account(self,
                                id):
        """Perform a DELETE request to /api/external_accounts/{id}.

        Args:
            id (str): external account id

        Returns:
            void: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/external_accounts/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .auth(Single("basic_auth")),
        ).execute()
