"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.invoice_line_item import (
    InvoiceLineItem,
)


class InvoiceLineItemController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize InvoiceLineItemController object."""
        super(InvoiceLineItemController, self).__init__(config)

    def list_invoice_line_items(self,
                                invoice_id,
                                after_cursor=None,
                                per_page=None):
        """Perform a GET request to
        /api/invoices/{invoice_id}/invoice_line_items.

        Args:
            invoice_id (str): invoice_id
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            List[InvoiceLineItem]: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/invoices/{invoice_id}/invoice_line_items")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("invoice_id")
                .value(invoice_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InvoiceLineItem.from_dictionary),
        ).execute()

    def create_invoice_line_item(self,
                                 invoice_id,
                                 idempotency_key=None,
                                 body=None):
        """Perform a POST request to
        /api/invoices/{invoice_id}/invoice_line_items.

        Args:
            invoice_id (str): invoice_id
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (InvoiceLineItemCreateRequest, optional): The request body parameter.

        Returns:
            InvoiceLineItem: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/invoices/{invoice_id}/invoice_line_items")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("invoice_id")
                .value(invoice_id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InvoiceLineItem.from_dictionary),
        ).execute()

    def get_invoice_line_item(self,
                              invoice_id,
                              id):
        """Perform a GET request to
        /api/invoices/{invoice_id}/invoice_line_items/{id}.

        Args:
            invoice_id (str): invoice_id
            id (str): id

        Returns:
            InvoiceLineItem: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/invoices/{invoice_id}/invoice_line_items/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("invoice_id")
                .value(invoice_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InvoiceLineItem.from_dictionary),
        ).execute()

    def update_invoice_line_item(self,
                                 invoice_id,
                                 id,
                                 body=None):
        """Perform a PATCH request to
        /api/invoices/{invoice_id}/invoice_line_items/{id}.

        Args:
            invoice_id (str): invoice_id
            id (str): id
            body (InvoiceLineItemUpdateRequest, optional): The request body parameter.

        Returns:
            InvoiceLineItem: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/invoices/{invoice_id}/invoice_line_items/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("invoice_id")
                .value(invoice_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InvoiceLineItem.from_dictionary),
        ).execute()

    def delete_invoice_line_item(self,
                                 invoice_id,
                                 id):
        """Perform a DELETE request to
        /api/invoices/{invoice_id}/invoice_line_items/{id}.

        Args:
            invoice_id (str): invoice_id
            id (str): id

        Returns:
            InvoiceLineItem: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/invoices/{invoice_id}/invoice_line_items/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("invoice_id")
                .value(invoice_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(InvoiceLineItem.from_dictionary),
        ).execute()
