"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.ledger import Ledger


class LedgerController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize LedgerController object."""
        super(LedgerController, self).__init__(config)

    def list_ledgers(self,
                     after_cursor=None,
                     per_page=None,
                     metadata=None,
                     updated_at=None):
        """Perform a GET request to /api/ledgers.

        Get a list of ledgers.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.
            updated_at (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by the posted at
                timestamp. For example, for all times after Jan 1 2000 12:00 UTC, use
                updated_at%5Bgt%5D=2000-01-01T12:00:00Z.

        Returns:
            List[Ledger]: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledgers")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .query_param(Parameter()
                .key("updated_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    updated_at)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Ledger.from_dictionary),
        ).execute()

    def create_ledger(self,
                      idempotency_key=None,
                      body=None):
        """Perform a POST request to /api/ledgers.

        Create a ledger.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (LedgerCreateRequest, optional): The request body parameter.

        Returns:
            Ledger: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledgers")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Ledger.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_ledger(self,
                   id):
        """Perform a GET request to /api/ledgers/{id}.

        Get details on a single ledger.

        Args:
            id (str): id

        Returns:
            Ledger: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledgers/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Ledger.from_dictionary)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def update_ledger(self,
                      id,
                      body=None):
        """Perform a PATCH request to /api/ledgers/{id}.

        Update the details of a ledger.

        Args:
            id (str): id
            body (LedgerUpdateRequest, optional): The request body parameter.

        Returns:
            Ledger: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledgers/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Ledger.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def delete_ledger(self,
                      id):
        """Perform a DELETE request to /api/ledgers/{id}.

        Delete a ledger.

        Args:
            id (str): id

        Returns:
            Ledger: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledgers/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Ledger.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()
