"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.ledger_account import (
    LedgerAccount,
)


class LedgerAccountController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize LedgerAccountController object."""
        super(LedgerAccountController, self).__init__(config)

    def list_ledger_accounts(self,
                             after_cursor=None,
                             per_page=None,
                             metadata=None,
                             id=None,
                             name=None,
                             ledger_id=None,
                             currency=None,
                             balances=None,
                             created_at=None,
                             updated_at=None,
                             ledger_account_category_id=None):
        """Perform a GET request to /api/ledger_accounts.

        Get a list of ledger accounts.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.
            id (str, optional): The request query parameter.
            name (str, optional): The request query parameter.
            ledger_id (str, optional): The request query parameter.
            currency (str, optional): The request query parameter.
            balances (Balances2, optional): Use `balances[effective_at_lower_bound]`
                and `balances[effective_at_upper_bound]` to get the balances change
                between the two timestamps. The lower bound is inclusive while the
                upper bound is exclusive of the provided timestamps. If no value is
                supplied the balances will be retrieved not including that bound.
            created_at (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by the created at
                timestamp. For example, for all times after Jan 1 2000 12:00 UTC, use
                created_at%5Bgt%5D=2000-01-01T12:00:00Z.
            updated_at (Dict[str, datetime], optional): Use `gt` (>), `gte` (>=),
                `lt` (<), `lte` (<=), or `eq` (=) to filter by the updated at
                timestamp. For example, for all times after Jan 1 2000 12:00 UTC, use
                updated_at%5Bgt%5D=2000-01-01T12:00:00Z.
            ledger_account_category_id (str, optional): The request query parameter.

        Returns:
            List[LedgerAccount]: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_accounts")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .query_param(Parameter()
                .key("id")
                .value(id))
            .query_param(Parameter()
                .key("name")
                .value(name))
            .query_param(Parameter()
                .key("ledger_id")
                .value(ledger_id))
            .query_param(Parameter()
                .key("currency")
                .value(currency))
            .query_param(Parameter()
                .key("balances")
                .value(balances))
            .query_param(Parameter()
                .key("created_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    created_at)))
            .query_param(Parameter()
                .key("updated_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    updated_at)))
            .query_param(Parameter()
                .key("ledger_account_category_id")
                .value(ledger_account_category_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccount.from_dictionary)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def create_ledger_account(self,
                              idempotency_key=None,
                              body=None):
        """Perform a POST request to /api/ledger_accounts.

        Create a ledger account.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (LedgerAccountCreateRequest, optional): The request body parameter.

        Returns:
            LedgerAccount: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_accounts")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccount.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_ledger_account(self,
                           id,
                           balances=None):
        """Perform a GET request to /api/ledger_accounts/{id}.

        Get details on a single ledger account.

        Args:
            id (str): id
            balances (Balances3, optional): Use `balances[effective_at_lower_bound]`
                and `balances[effective_at_upper_bound]` to get the balances change
                between the two timestamps. The lower bound is inclusive while the
                upper bound is exclusive of the provided timestamps. If no value is
                supplied the balances will be retrieved not including that bound. Use
                `balances[as_of_lock_version]` to retrieve a balance as of a specific
                Ledger Account `lock_version`.

        Returns:
            LedgerAccount: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_accounts/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .query_param(Parameter()
                .key("balances")
                .value(balances))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccount.from_dictionary)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def update_ledger_account(self,
                              id,
                              body=None):
        """Perform a PATCH request to /api/ledger_accounts/{id}.

        Update the details of a ledger account.

        Args:
            id (str): id
            body (LedgerAccountUpdateRequest, optional): The request body parameter.

        Returns:
            LedgerAccount: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_accounts/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccount.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def delete_ledger_account(self,
                              id):
        """Perform a DELETE request to /api/ledger_accounts/{id}.

        Delete a ledger account.

        Args:
            id (str): id

        Returns:
            LedgerAccount: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_accounts/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccount.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()
