"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.ledger_account_category import (
    LedgerAccountCategory,
)


class LedgerAccountCategoryController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize LedgerAccountCategoryController object."""
        super(LedgerAccountCategoryController, self).__init__(config)

    def list_ledger_account_categories(self,
                                       after_cursor=None,
                                       per_page=None,
                                       metadata=None,
                                       name=None,
                                       ledger_id=None,
                                       parent_ledger_account_category_id=None,
                                       ledger_account_id=None,
                                       balances=None):
        """Perform a GET request to /api/ledger_account_categories.

        Get a list of ledger account categories.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.
            name (str, optional): The request query parameter.
            ledger_id (str, optional): The request query parameter.
            parent_ledger_account_category_id (str, optional): Query categories that
                are nested underneath a parent category
            ledger_account_id (str, optional): Query categories which contain a
                ledger account directly or through child categories.
            balances (Balances, optional): For example, if you want the balances as
                of a particular time (ISO8601), the encoded query string would be
                `balances%5Beffective_at%5D=2000-12-31T12:00:00Z`. The balances as of
                a time are inclusive of entries with that exact time.

        Returns:
            List[LedgerAccountCategory]: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_account_categories")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .query_param(Parameter()
                .key("name")
                .value(name))
            .query_param(Parameter()
                .key("ledger_id")
                .value(ledger_id))
            .query_param(Parameter()
                .key("parent_ledger_account_category_id")
                .value(parent_ledger_account_category_id))
            .query_param(Parameter()
                .key("ledger_account_id")
                .value(ledger_account_id))
            .query_param(Parameter()
                .key("balances")
                .value(balances))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccountCategory.from_dictionary),
        ).execute()

    def create_ledger_account_category(self,
                                       idempotency_key=None,
                                       body=None):
        """Perform a POST request to /api/ledger_account_categories.

        Create a ledger account category.

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (LedgerAccountCategoryCreateRequest, optional): The request body
                parameter.

        Returns:
            LedgerAccountCategory: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_account_categories")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccountCategory.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_ledger_account_category(self,
                                    id,
                                    balances=None):
        """Perform a GET request to /api/ledger_account_categories/{id}.

        Get the details on a single ledger account category.

        Args:
            id (str): id
            balances (Balances1, optional): For example, if you want the balances as
                of a particular time (ISO8601), the encoded query string would be
                `balances%5Beffective_at%5D=2000-12-31T12:00:00Z`. The balances as of
                a time are inclusive of entries with that exact time.

        Returns:
            LedgerAccountCategory: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_account_categories/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .query_param(Parameter()
                .key("balances")
                .value(balances))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccountCategory.from_dictionary)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def update_ledger_account_category(self,
                                       id,
                                       body=None):
        """Perform a PATCH request to /api/ledger_account_categories/{id}.

        Update the details of a ledger account category.

        Args:
            id (str): id
            body (LedgerAccountCategoryUpdateRequest, optional): The request body
                parameter.

        Returns:
            LedgerAccountCategory: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_account_categories/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccountCategory.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def delete_ledger_account_category(self,
                                       id):
        """Perform a DELETE request to /api/ledger_account_categories/{id}.

        Delete a ledger account category.

        Args:
            id (str): id

        Returns:
            LedgerAccountCategory: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_account_categories/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LedgerAccountCategory.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def add_ledger_account_to_ledger_account_category(self,
                                                      id,
                                                      ledger_account_id):
        """Perform a PUT request to
        /api/ledger_account_categories/{id}/ledger_accounts/{ledger_account_id}.

        Add a ledger account to a ledger account category.

        Args:
            id (str): id
            ledger_account_id (str): ledger_account_id

        Returns:
            void: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_account_categories/{id}/ledger_accounts/{ledger_account_id}")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .template_param(Parameter()
                .key("ledger_account_id")
                .value(ledger_account_id)
                .should_encode(True))
            .auth(Single("basic_auth")),
        ).execute()

    def remove_ledger_account_from_ledger_account_category(self,
                                                           id,
                                                           ledger_account_id):
        """Perform a DELETE request to
        /api/ledger_account_categories/{id}/ledger_accounts/{ledger_account_id}.

        Remove a ledger account from a ledger account category.

        Args:
            id (str): id
            ledger_account_id (str): ledger_account_id

        Returns:
            void: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_account_categories/{id}/ledger_accounts/{ledger_account_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .template_param(Parameter()
                .key("ledger_account_id")
                .value(ledger_account_id)
                .should_encode(True))
            .auth(Single("basic_auth")),
        ).execute()

    def add_ledger_account_category_to_ledger_account_category(self,
                                                               id,
                                                               sub_category_id):
        """Perform a PUT request to
        /api/ledger_account_categories/{id}/ledger_account_categories/{sub_category_id}
        .

        Add a ledger account category to a ledger account category.

        Args:
            id (str): id
            sub_category_id (str): sub_category_id

        Returns:
            void: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_account_categories/{id}/ledger_account_categories/{sub_category_id}")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .template_param(Parameter()
                .key("sub_category_id")
                .value(sub_category_id)
                .should_encode(True))
            .auth(Single("basic_auth")),
        ).execute()

    def delete_ledger_account_category_from_ledger_account_category(self,
                                                                    id,
                                                                    sub_category_id):
        """Perform a DELETE request to
        /api/ledger_account_categories/{id}/ledger_account_categories/{sub_category_id}
        .

        Delete a ledger account category from a ledger account category.

        Args:
            id (str): id
            sub_category_id (str): sub_category_id

        Returns:
            void: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/ledger_account_categories/{id}/ledger_account_categories/{sub_category_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .template_param(Parameter()
                .key("sub_category_id")
                .value(sub_category_id)
                .should_encode(True))
            .auth(Single("basic_auth")),
        ).execute()
