"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.paper_item import (
    PaperItem,
)


class PaperItemController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize PaperItemController object."""
        super(PaperItemController, self).__init__(config)

    def list_paper_items(self,
                         lockbox_number=None,
                         deposit_date_start=None,
                         deposit_date_end=None,
                         after_cursor=None,
                         per_page=None):
        """Perform a GET request to /api/paper_items.

        Get a list of all paper items.

        Args:
            lockbox_number (str, optional): Specify `lockbox_number` if you wish to
                see paper items that are associated with a specific lockbox number.
            deposit_date_start (date, optional): Specify an inclusive start date
                (YYYY-MM-DD) when filtering by deposit_date
            deposit_date_end (date, optional): Specify an inclusive end date
                (YYYY-MM-DD) when filtering by deposit_date
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            List[PaperItem]: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/paper_items")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("lockbox_number")
                .value(lockbox_number))
            .query_param(Parameter()
                .key("deposit_date_start")
                .value(deposit_date_start))
            .query_param(Parameter()
                .key("deposit_date_end")
                .value(deposit_date_end))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaperItem.from_dictionary),
        ).execute()

    def get_paper_item(self,
                       id):
        """Perform a GET request to /api/paper_items/{id}.

        Get details on a single paper item.

        Args:
            id (str): id

        Returns:
            PaperItem: Response from the API. successful

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/paper_items/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaperItem.from_dictionary)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()
