"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.payment_reference_object import (
    PaymentReferenceObject,
)


class PaymentReferenceController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize PaymentReferenceController object."""
        super(PaymentReferenceController, self).__init__(config)

    def list_payment_references(self,
                                after_cursor=None,
                                per_page=None,
                                referenceable_id=None,
                                referenceable_type=None,
                                reference_number=None):
        """Perform a GET request to /api/payment_references.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            referenceable_id (str, optional): The id of the referenceable to search
                for. Must be accompanied by the referenceable_type or will return an
                error.
            referenceable_type (ReferenceableType1, optional): One of the
                referenceable types. This must be accompanied by the id of the
                referenceable or will return an error.
            reference_number (str, optional): The actual reference number assigned by
                the bank.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_references")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("referenceable_id")
                .value(referenceable_id))
            .query_param(Parameter()
                .key("referenceable_type")
                .value(referenceable_type))
            .query_param(Parameter()
                .key("reference_number")
                .value(reference_number))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentReferenceObject.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_payment_reference(self,
                              id):
        """Perform a GET request to /api/payment_references/{id}.

        Args:
            id (str): id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_references/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentReferenceObject.from_dictionary)
            .is_api_response(True),
        ).execute()
