"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.async_response import (
    AsyncResponse,
)
from moderntreasury.models.payment_order import (
    PaymentOrder,
)


class PaymentOrderController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize PaymentOrderController object."""
        super(PaymentOrderController, self).__init__(config)

    def create_async_payment_order(self,
                                   idempotency_key=None,
                                   body=None):
        """Perform a POST request to /api/payment_orders/create_async.

        Create a new payment order asynchronously

        Args:
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (PaymentOrderAsyncCreateRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_orders/create_async")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AsyncResponse.from_dictionary)
            .is_api_response(True)
            .local_error("403", "forbidden", ErrorMessageException),
        ).execute()

    def list_payment_orders(self,
                            after_cursor=None,
                            per_page=None,
                            mtype=None,
                            priority=None,
                            counterparty_id=None,
                            originating_account_id=None,
                            transaction_id=None,
                            status=None,
                            direction=None,
                            reference_number=None,
                            effective_date_start=None,
                            effective_date_end=None,
                            metadata=None):
        """Perform a GET request to /api/payment_orders.

        Get a list of all payment orders

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            mtype (Type13, optional): The request query parameter.
            priority (Priority4, optional): Either `normal` or `high`. For ACH and
                EFT payments, `high` represents a same-day ACH or EFT transfer,
                respectively. For check payments, `high` can mean an overnight check
                rather than standard mail.
            counterparty_id (uuid|str, optional): The request query parameter.
            originating_account_id (uuid|str, optional): The request query parameter.
            transaction_id (uuid|str, optional): The ID of a transaction that the
                payment order has been reconciled to.
            status (Status24, optional): The request query parameter.
            direction (Direction15, optional): The request query parameter.
            reference_number (str, optional): Query for records with the provided
                reference number
            effective_date_start (date, optional): An inclusive lower bound for
                searching effective_date
            effective_date_end (date, optional): An inclusive upper bound for
                searching effective_date
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_orders")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("type")
                .value(mtype))
            .query_param(Parameter()
                .key("priority")
                .value(priority))
            .query_param(Parameter()
                .key("counterparty_id")
                .value(counterparty_id))
            .query_param(Parameter()
                .key("originating_account_id")
                .value(originating_account_id))
            .query_param(Parameter()
                .key("transaction_id")
                .value(transaction_id))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("direction")
                .value(direction))
            .query_param(Parameter()
                .key("reference_number")
                .value(reference_number))
            .query_param(Parameter()
                .key("effective_date_start")
                .value(effective_date_start))
            .query_param(Parameter()
                .key("effective_date_end")
                .value(effective_date_end))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentOrder.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_payment_order(self,
                             mtype,
                             amount,
                             direction,
                             originating_account_id,
                             content_type=None,
                             idempotency_key=None,
                             subtype=None,
                             priority=None,
                             receiving_account_id=None,
                             accounting=None,
                             accounting_category_id=None,
                             accounting_ledger_class_id=None,
                             currency=None,
                             effective_date=None,
                             description=None,
                             statement_descriptor=None,
                             remittance_information=None,
                             purpose=None,
                             metadata=None,
                             charge_bearer=None,
                             foreign_exchange_indicator=None,
                             foreign_exchange_contract=None,
                             nsf_protected=None,
                             originating_party_name=None,
                             ultimate_originating_party_name=None,
                             ultimate_originating_party_identifier=None,
                             ultimate_receiving_party_name=None,
                             ultimate_receiving_party_identifier=None,
                             send_remittance_advice=None,
                             expires_at=None,
                             fallback_type=None,
                             receiving_account=None,
                             ledger_transaction=None,
                             line_items=None,
                             transaction_monitoring_enabled=None,
                             documents=None):
        """Perform a POST request to /api/payment_orders.

        Create a new Payment Order

        Args:
            mtype (Type5): One of `ach`, `eft`, `wire`, `check`, `sen`, `book`,
                `rtp`, `sepa`, `bacs`, `au_becs`, `interac`, `signet`, `provexchange`.
            amount (int): Value in specified currency's smallest unit. e.g. $10 would
                be represented as 1000 (cents). For RTP, the maximum amount allowed
                by the network is $100,000.
            direction (Direction5): One of `credit`, `debit`. Describes the direction
                money is flowing in the transaction. A `credit` moves money from your
                account to someone else's. A `debit` pulls money from someone else's
                account to your own. Note that wire, rtp, and check payments will
                always be `credit`.
            originating_account_id (uuid|str): The ID of one of your organization's
                internal accounts.
            content_type (ContentType, optional): The request header parameter.
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            subtype (Subtype, optional): An additional layer of classification for
                the type of payment order you are doing. This field is only used for
                `ach` payment orders currently. For `ach`  payment orders, the
                `subtype`  represents the SEC code. We currently support `CCD`,
                `PPD`, `IAT`, `CTX`, `WEB`, `CIE`, and `TEL`.
            priority (Priority, optional): Either `normal` or `high`. For ACH and EFT
                payments, `high` represents a same-day ACH or EFT transfer,
                respectively. For check payments, `high` can mean an overnight check
                rather than standard mail.
            receiving_account_id (uuid|str, optional): Either `receiving_account` or
                `receiving_account_id` must be present. When using
                `receiving_account_id`, you may pass the id of an external account or
                an internal account.
            accounting (Accounting, optional): The request form parameter.
            accounting_category_id (uuid|str, optional): The ID of one of your
                accounting categories. Note that these will only be accessible if
                your accounting system has been connected.
            accounting_ledger_class_id (uuid|str, optional): The ID of one of your
                accounting ledger classes. Note that these will only be accessible if
                your accounting system has been connected.
            currency (Currency, optional): Three-letter ISO currency code.
            effective_date (date, optional): Date transactions are to be posted to
                the participants' account. Defaults to the current business day or
                the next business day if the current day is a bank holiday or
                weekend. Format: yyyy-mm-dd.
            description (str, optional): An optional description for internal use.
            statement_descriptor (str, optional): An optional descriptor which will
                appear in the receiver's statement. For `check` payments this field
                will be used as the memo line. For `ach` the maximum length is 10
                characters. Note that for ACH payments, the name on your bank account
                will be included automatically by the bank, so you can use the
                characters for other useful information. For `eft` the maximum length
                is 15 characters.
            remittance_information (str, optional): For `ach`, this field will be
                passed through on an addenda record. For `wire` payments the field
                will be passed through as the "Originator to Beneficiary
                Information", also known as OBI or Fedwire tag 6000.
            purpose (str, optional): For `wire`, this is usually the purpose which is
                transmitted via the "InstrForDbtrAgt" field in the ISO20022 file. If
                you are using Currencycloud, this is the `payment.purpose_code`
                field. For `eft`, this field is the 3 digit CPA Code that will be
                attached to the payment.
            metadata (Dict[str, str], optional): Additional data represented as
                key-value pairs. Both the key and value must be strings.
            charge_bearer (ChargeBearer, optional): The party that will pay the fees
                for the payment order. Only applies to wire payment orders. Can be
                one of shared, sender, or receiver, which correspond respectively
                with the SWIFT 71A values `SHA`, `OUR`, `BEN`.
            foreign_exchange_indicator (ForeignExchangeIndicator, optional):
                Indicates the type of FX transfer to initiate, can be either
                `variable_to_fixed`, `fixed_to_variable`, or `null` if the payment
                order currency matches the originating account currency.
            foreign_exchange_contract (str, optional): If present, indicates a
                specific foreign exchange contract number that has been generated by
                your financial institution.
            nsf_protected (bool, optional): A boolean to determine if NSF Protection
                is enabled for this payment order. Note that this setting must also
                be turned on in your organization settings page.
            originating_party_name (str, optional): If present, this will replace
                your default company name on receiver's bank statement. This field
                can only be used for ACH payments currently. For ACH, only the first
                16 characters of this string will be used. Any additional characters
                will be truncated.
            ultimate_originating_party_name (str, optional): Name of the ultimate
                originator of the payment order.
            ultimate_originating_party_identifier (str, optional): Identifier of the
                ultimate originator of the payment order.
            ultimate_receiving_party_name (str, optional): Name of the ultimate funds
                recipient.
            ultimate_receiving_party_identifier (str, optional): Identifier of the
                ultimate funds recipient.
            send_remittance_advice (bool, optional): Send an email to the
                counterparty when the payment order is sent to the bank. If `null`,
                `send_remittance_advice` on the Counterparty is used.
            expires_at (datetime, optional): RFP payments require an expires_at. This
                value must be past the effective_date.
            fallback_type (FallbackType, optional): A payment type to fallback to if
                the original type is not valid for the receiving account. Currently,
                this only supports falling back from RTP to ACH (type=rtp and
                fallback_type=ach)
            receiving_account (ReceivingAccount1, optional): Either
                `receiving_account` or `receiving_account_id` must be present. When
                using `receiving_account_id`, you may pass the id of an external
                account or an internal account.
            ledger_transaction (LedgerTransactionCreateRequest, optional): The
                request form parameter.
            line_items (List[LineItemRequest], optional): An array of line items that
                must sum up to the amount of the payment order.
            transaction_monitoring_enabled (bool, optional): A flag that determines
                whether a payment order should go through transaction monitoring.
            documents (List[DocumentCreateRequest], optional): An array of documents
                to be attached to the payment order. Note that if you attach
                documents, the request's content type must be `multipart/form-data`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_orders")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("type")
                .value(mtype)
                .is_required(True))
            .form_param(Parameter()
                .key("amount")
                .value(amount)
                .is_required(True))
            .form_param(Parameter()
                .key("direction")
                .value(direction)
                .is_required(True))
            .form_param(Parameter()
                .key("originating_account_id")
                .value(originating_account_id)
                .is_required(True))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .form_param(Parameter()
                .key("subtype")
                .value(subtype))
            .form_param(Parameter()
                .key("priority")
                .value(priority))
            .form_param(Parameter()
                .key("receiving_account_id")
                .value(receiving_account_id))
            .form_param(Parameter()
                .key("accounting")
                .value(accounting))
            .form_param(Parameter()
                .key("accounting_category_id")
                .value(accounting_category_id))
            .form_param(Parameter()
                .key("accounting_ledger_class_id")
                .value(accounting_ledger_class_id))
            .form_param(Parameter()
                .key("currency")
                .value(currency))
            .form_param(Parameter()
                .key("effective_date")
                .value(effective_date))
            .form_param(Parameter()
                .key("description")
                .value(description))
            .form_param(Parameter()
                .key("statement_descriptor")
                .value(statement_descriptor))
            .form_param(Parameter()
                .key("remittance_information")
                .value(remittance_information))
            .form_param(Parameter()
                .key("purpose")
                .value(purpose))
            .form_param(Parameter()
                .key("metadata")
                .value(metadata))
            .form_param(Parameter()
                .key("charge_bearer")
                .value(charge_bearer))
            .form_param(Parameter()
                .key("foreign_exchange_indicator")
                .value(foreign_exchange_indicator))
            .form_param(Parameter()
                .key("foreign_exchange_contract")
                .value(foreign_exchange_contract))
            .form_param(Parameter()
                .key("nsf_protected")
                .value(nsf_protected))
            .form_param(Parameter()
                .key("originating_party_name")
                .value(originating_party_name))
            .form_param(Parameter()
                .key("ultimate_originating_party_name")
                .value(ultimate_originating_party_name))
            .form_param(Parameter()
                .key("ultimate_originating_party_identifier")
                .value(ultimate_originating_party_identifier))
            .form_param(Parameter()
                .key("ultimate_receiving_party_name")
                .value(ultimate_receiving_party_name))
            .form_param(Parameter()
                .key("ultimate_receiving_party_identifier")
                .value(ultimate_receiving_party_identifier))
            .form_param(Parameter()
                .key("send_remittance_advice")
                .value(send_remittance_advice))
            .form_param(Parameter()
                .key("expires_at")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    expires_at)))
            .form_param(Parameter()
                .key("fallback_type")
                .value(fallback_type))
            .form_param(Parameter()
                .key("receiving_account")
                .value(receiving_account))
            .form_param(Parameter()
                .key("ledger_transaction")
                .value(ledger_transaction))
            .form_param(Parameter()
                .key("line_items")
                .value(line_items))
            .form_param(Parameter()
                .key("transaction_monitoring_enabled")
                .value(transaction_monitoring_enabled))
            .form_param(Parameter()
                .key("documents")
                .value(documents))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentOrder.from_dictionary)
            .is_api_response(True)
            .local_error("400", "parameter_invalid", ErrorMessageException)
            .local_error("401", "unsuccessful", ErrorMessageException)
            .local_error("403", "forbidden", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_payment_order(self,
                          id):
        """Perform a GET request to /api/payment_orders/{id}.

        Get details on a single payment order

        Args:
            id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_orders/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentOrder.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def update_payment_order(self,
                             id,
                             body=None):
        """Perform a PATCH request to /api/payment_orders/{id}.

        Update a payment order

        Args:
            id (str): The request template parameter.
            body (PaymentOrderUpdateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_orders/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaymentOrder.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422", "parameter_invalid", ErrorMessageException),
        ).execute()
