"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.reversal import Reversal


class ReversalController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize ReversalController object."""
        super(ReversalController, self).__init__(config)

    def list_reversals(self,
                       payment_order_id,
                       after_cursor=None,
                       per_page=None):
        """Perform a GET request to
        /api/payment_orders/{payment_order_id}/reversals.

        Get a list of all reversals of a payment order.

        Args:
            payment_order_id (str): The ID of the relevant Payment Order.
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_orders/{payment_order_id}/reversals")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("payment_order_id")
                .value(payment_order_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Reversal.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_reversal(self,
                        payment_order_id,
                        idempotency_key=None,
                        body=None):
        """Perform a POST request to
        /api/payment_orders/{payment_order_id}/reversals.

        Create a reversal for a payment order.

        Args:
            payment_order_id (uuid|str): The ID of the relevant Payment Order.
            idempotency_key (str, optional): This key should be something unique,
                preferably something like an UUID.
            body (ReversalCreateRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_orders/{payment_order_id}/reversals")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("payment_order_id")
                .value(payment_order_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .header_param(Parameter()
                .key("Idempotency-Key")
                .value(idempotency_key))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Reversal.from_dictionary)
            .is_api_response(True)
            .local_error("404", "unsuccessful", ErrorMessageException)
            .local_error("422", "unsuccessful", ErrorMessageException),
        ).execute()

    def get_reversal(self,
                     payment_order_id,
                     reversal_id):
        """Perform a GET request to
        /api/payment_orders/{payment_order_id}/reversals/{reversal_id}.

        Get details on a single reversal of a payment order.

        Args:
            payment_order_id (uuid|str): The id of the payment order being reversed.
            reversal_id (uuid|str): The ID of the reversal.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/payment_orders/{payment_order_id}/reversals/{reversal_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("payment_order_id")
                .value(payment_order_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("reversal_id")
                .value(reversal_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Reversal.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()
