"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.transaction import (
    Transaction,
)


class TransactionController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize TransactionController object."""
        super(TransactionController, self).__init__(config)

    def list_transactions(self,
                          after_cursor=None,
                          per_page=None,
                          internal_account_id=None,
                          virtual_account_id=None,
                          posted=None,
                          as_of_date_start=None,
                          as_of_date_end=None,
                          direction=None,
                          counterparty_id=None,
                          payment_type=None,
                          transactable_type=None,
                          description=None,
                          vendor_id=None,
                          metadata=None):
        """Perform a GET request to /api/transactions.

        Get a list of all transactions.

        Args:
            after_cursor (str, optional): The request query parameter.
            per_page (int, optional): The request query parameter.
            internal_account_id (uuid|str, optional): Specify `internal_account_id`
                if you wish to see transactions to/from a specific account.
            virtual_account_id (uuid|str, optional): The request query parameter.
            posted (bool, optional): Either `true` or `false`.
            as_of_date_start (date, optional): Filters transactions with an
                `as_of_date` starting on or after the specified date (YYYY-MM-DD).
            as_of_date_end (date, optional): Filters transactions with an
                `as_of_date` starting on or before the specified date (YYYY-MM-DD).
            direction (str, optional): The request query parameter.
            counterparty_id (uuid|str, optional): The request query parameter.
            payment_type (str, optional): The request query parameter.
            transactable_type (str, optional): The request query parameter.
            description (str, optional): Filters for transactions including the
                queried string in the description.
            vendor_id (str, optional): Filters for transactions including the queried
                vendor id (an identifier given to transactions by the bank).
            metadata (Dict[str, str], optional): For example, if you want to query
                for records with metadata key `Type` and value `Loan`, the query
                would be `metadata%5BType%5D=Loan`. This encodes the query parameters.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/transactions")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("after_cursor")
                .value(after_cursor))
            .query_param(Parameter()
                .key("per_page")
                .value(per_page))
            .query_param(Parameter()
                .key("internal_account_id")
                .value(internal_account_id))
            .query_param(Parameter()
                .key("virtual_account_id")
                .value(virtual_account_id))
            .query_param(Parameter()
                .key("posted")
                .value(posted))
            .query_param(Parameter()
                .key("as_of_date_start")
                .value(as_of_date_start))
            .query_param(Parameter()
                .key("as_of_date_end")
                .value(as_of_date_end))
            .query_param(Parameter()
                .key("direction")
                .value(direction))
            .query_param(Parameter()
                .key("counterparty_id")
                .value(counterparty_id))
            .query_param(Parameter()
                .key("payment_type")
                .value(payment_type))
            .query_param(Parameter()
                .key("transactable_type")
                .value(transactable_type))
            .query_param(Parameter()
                .key("description")
                .value(description))
            .query_param(Parameter()
                .key("vendor_id")
                .value(vendor_id))
            .query_param(Parameter()
                .key("metadata")
                .value(metadata))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Transaction.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_transaction(self,
                        id):
        """Perform a GET request to /api/transactions/{id}.

        Get details on a single transaction.

        Args:
            id (str): Transaction ID

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/transactions/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Transaction.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()

    def update_transaction(self,
                           id,
                           body=None):
        """Perform a PATCH request to /api/transactions/{id}.

        Update a single transaction.

        Args:
            id (str): Transaction ID
            body (IncomingPaymentDetailUpdateRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. successful

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/transactions/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Transaction.from_dictionary)
            .is_api_response(True)
            .local_error("404", "not found", ErrorMessageException),
        ).execute()
