"""moderntreasury.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from moderntreasury.api_helper import APIHelper
from moderntreasury.configuration import Server
from moderntreasury.controllers.base_controller import (
    BaseController,
)
from moderntreasury.exceptions.error_message_exception import (
    ErrorMessageException,
)
from moderntreasury.http.http_method_enum import (
    HttpMethodEnum,
)
from moderntreasury.models.routing_number_lookup_request import (
    RoutingNumberLookupRequest,
)


class ValidationController(BaseController):
    """A Controller to access Endpoints in the moderntreasury API."""

    def __init__(self, config):
        """Initialize ValidationController object."""
        super(ValidationController, self).__init__(config)

    def validate_routing_number(self,
                                routing_number,
                                routing_number_type):
        """Perform a GET request to /api/validations/routing_numbers.

        Validates the routing number information supplied without creating a routing
        detail

        Args:
            routing_number (str): The routing number that is being validated.
            routing_number_type (RoutingNumberType8Enum): One of `aba`, `au_bsb`,
                `br_codigo`, `ca_cpa`, `cnaps`, `gb_sort_code`, `in_ifsc`,
                `my_branch_code`, or `swift`. In sandbox mode we currently only
                support `aba` and `swift` with routing numbers '123456789' and
                'GRINUST0XXX' respectively.

        Returns:
            RoutingNumberLookupRequest: Response from the API. successful valid
                routing number and type

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/validations/routing_numbers")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("routing_number")
                .value(routing_number))
            .query_param(Parameter()
                .key("routing_number_type")
                .value(routing_number_type))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("basic_auth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RoutingNumberLookupRequest.from_dictionary)
            .local_error("404", "not found", ErrorMessageException)
            .local_error("422",
                "unsuccessful with invalid parameter",
                ErrorMessageException),
        ).execute()
